<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regstration</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="container">
    <div class="test"></div>
    <div class="cabinet-banner">
        <ul class="cabinet-banner-list">
            <li>Редактирование данных</li>
            <li>Смена пароля</li>
            <li>История заказов</li>
        </ul>
    </div>
    <h2 class="regs">Редактирование данных</h2>
    <div class="regs-forum">
        <form class="regs-group" action="#">
            <input class="regs-fio" type="text" placeholder="ФИО">
            <input class="regs-tel" type="text" placeholder="Телефон">
            <input class="regs-adres" type="text" placeholder="Адрес">
            <input class="regs-email" type="text" placeholder="Email">
            <input class="sub" type="submit" value="Сохранить">
        </form>
    </div>
</div>
</body>
</html>