.regs{
    text-align: center;
}
.regs{
    margin-top: 130px;
    text-transform: uppercase;
}
.regs-forum{
    width: 74%;
    padding: auto;
    margin: 0 auto;
    margin-top: 40px;
}
.regs-fio,.regs-tel,.regs-adres,.regs-email{
    padding: 13px 30px;
}
.regs-fio{
    width: 48.78%;
    margin-right: 10px;
}
.regs-tel{
    width: 48.78%;
}
.regs-adres{
    width: 48.78%;
    margin-right: 10px;
    margin-top: 20px;
}
.regs-email{
    width: 48.78%;
    margin-top: 20px;
}
.regs-group{
    text-align: center;
}
input[type=submit]{
    text-transform: uppercase;
    background-color: #d85ed7;
    color: #fff;
    margin-top: 40px;
    padding: 18px 21px;
    cursor: pointer;
}

.cabinet-banner {
    padding: 30px 0 0 25px;
    background: #fbeafc;
    position: relative;
    left: -20px;
    top: -20px;
    width: calc(100% + 40px);
    margin: 0 auto;
}
.cabinet-banner-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cabinet-banner-list li {
    padding-right: 70px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 6px solid transparent;

}
.cabinet-banner-list li.active, .cabinet-banner-list li:hover {
    border-bottom: 6px solid #fff;
    color: #852d84
}
.test {
    background: #000;
    height: 150px;
    position: relative;
    z-index: 1;
}








/******** media *******/

@media (max-width: 991px){
    .regs-tel{
        margin-top: 20px;
    }
    .regs-group input{
        display: block;
        width: 100%;
    }
}
@media (max-width: 767px) {
   .cabinet-banner-list li{
       padding-left: 5px;
       padding-right: 5px;
    }
   .regs-group input{
       display: block;
       width: 100%;
   }
}
@media (max-width: 480px) {
    .regs-forum{
        width: 90%;
    }
}