<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>parol</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="test"></div>
    <div class="cabinet-banner">
        <ul class="cabinet-banner-list">
            <li>Редактирование данных</li>
            <li>Смена пароля</li>
            <li>История заказов</li>
        </ul>
    </div>
    <h2 class="pass-title">Смена пароля</h2>
    <div class="pass-forum">
        <form class="pass-group" action="#">
            <input class="pass-input" type="text" placeholder="Телефон">
            <input class="pass-input" type="text" placeholder="Пароль">
            <input class="pass-input" type="text" placeholder="Телефон">
            <input type="submit" value="Сменить пароль">
        </form>
    </div>
</div>
</body>
</html>