<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>footer</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<footer>
    <div class="container">
        <div class="row footer-menu">
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
                <ul class="about-title">
                    <li class="about-title-item text-up">O нас</li>
                    <li class="about-title-item"><a href="#">О компании</a></li>
                    <li class="about-title-item"><a href="#">Новости компании</a></li>
                    <li class="about-title-item"><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
                <ul class="about-title">
                    <li class="about-title-item text-up">Доставка</li>
                    <li class="about-title-item"><a href="#">Правила</a></li>
                    <li class="about-title-item"><a href="#">Адрес доставки</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
                <ul class="about-title">
                    <li class="about-title-item text-up">Помощь</li>
                    <li class="about-title-item"><a href="#">Оформление заказа</a></li>
                    <li class="about-title-item"><a href="#">Политика и правила</a></li>
                    <li class="about-title-item"><a href="#">Оплата и доставка</a></li>
                </ul>
            </div>
            <div class="col-xl-6 col-lg-3 col-md-3 col-sm-12">
                <p class="phone-text">Служба поддержки:</p>
                <p class="phone">+998935054505</p>
                <ul class="footer-img">
                    <li><a href="#"><img src="../images/telegram.png" alt=""></a></li>
                    <li><a href="#"><img src="../images/fasebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../images/vatsap.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-but">
        <div class="container">
            <div class="row footer-izumrud">
                <div class="col-lg-4 col-md-4 col-sm-12 footer-right">
                    <p>Izumrud Все права защищены</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 footer-left">
                    <p>© Copyright 2019 - Web developed by <a class="footer-sos" href="#">SOS Group</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>