<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--meta name=viewport mobil uchun optimallashtiradi fonts larni google font yoki gethub dan olish kerak-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="header.css">
    <title>Title</title>
</head>
<body>
<header>
<div class="header-main w-100 margin-footer">
    <div class="container">
        <div class="row equal-offsets  header-top">
        <div class="col-lg-6 header-left text-center text-lg-left">
            <ul class="header-ul">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Помощь</a></li>
            </ul>
        </div>
        <div class="col-lg-6 header-right text-center text-lg-right">
            <ul class="header-ul">
                <li>Служба поддержки: <span class="tel">+998935054505</span></li>
                <li class="header-wish-list">
                    <div class="header-wish-list-img">
                        <img src="../images/header-min-logo.png" alt="">
                    </div>
                    <div class="header-wish-list-numb">1</div>
                </li>
                <li class="language pointer">
                    <span class="ru"><a href="#">Ru</a></span>
                    <ul class="lang">
                    <li>
                    <a href="#"> <span class="lang-span">En</span> </a>
                    </li>
                    <li>
                        <a href="#"> <span class="lang-span">Uz</span> </a>
                    </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row equal-offsets align-items-center">
        <div class="col-xl-3  text-center text-xl-left izumrud">
            <img src="../images/logo.png" height="34" width="217"/>
            <p>Интернет магазин</p>
        </div>

        <div class="col-xl-5 col-lg-6 search">
            <form class="search-form" action="#">
                    <input class="search-input" type="text" placeholder="Поиск товаров">
                    <button class="button-search pointer">
                        <img src="../images/search.png" height="20px" alt="">
                    </button>
            </form>
            <div class="header-menu">
                <ul class="header-menu-ul">
                    <li>Бижутерия</li>
                    <li>Аксессуары</li>
                    <li class="next-icon">Все категории</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 person">
            <div class="person-text">
                <div>
                    <img src="../images/person.png" height="32" width="26"/>
                </div>
                <div class="person-left">
                    <h4>Кабинет</h4>
                    <p class="f-16">Войти на сайт</p>
                </div>
            </div>
            <div class="karzinka">
                <div class="korzinka-wish">
                    <div class="header-wish-list">
                        <div class="header-wish-list-img">
                            <img src="../images/karzinka.png" height="32" width="43"/>
                        </div>
                        <div class="header-wish-list-numb">1</div>
                    </div>

                </div>
                <div class="person-left">
                    <h4>Корзина</h4>
                    <p>Пока пуста</p>
                </div>
            </div>
        </div>
    </div>
        <nav>
            <ul class="main-nav clear-list">
                <li class="main-nav-item all-category">
                    <div class="burger">
                        <div class="header-burger">
                            <svg height="26px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32"
                                 width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
                        </div>
                        <span class="nav-text">Категории</span>
                    </div>
                    <ul class="clear-list main-nav-submenu">
                        <li>lorem1</li>
                        <li>lorem2</li>
                        <li>lorem3</li>
                        <li>lorem4</li>
                        <li>lorem5</li>
                        <li>lorem6</li>
                    </ul>
                </li>
                <li class="main-nav-item">Горячие</li>
                <li class="main-nav-item">предложения</li>
                <li class="main-nav-item">Товары со скидкой</li>
                <li class="main-nav-item">Популярные</li>
                <li class="main-nav-item">По рейтингу</li>
                <li class="main-nav-item">Бестселлеры</li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>