<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>catalog</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../card/card-main.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<main>
    <div class="container">
        <h2 class="delivery-title">Доставка</h2>
        <div>
            <ul class="bread-cr">
                <li>Главная</li>
                <li>О нас</li>
                <li>О нас</li>
                <li>О нас</li>
            </ul>
        </div>
        <div class="delivery">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorum ea eos eum exercitationem,
                expedita id iusto laborum, minus natus nemo non officia omnis quam quod quos reiciendis repellendus
                unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dignissimos minima optio velit
                voluptas. Ab aliquam distinctio eaque error, facilis hic magni officiis perferendis quo quos ratione,
                recusandae sequi unde!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorum ea eos eum exercitationem,
                expedita id iusto laborum, minus natus nemo non officia omnis quam quod quos reiciendis repellendus
                unde? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dignissimos minima optio velit
                voluptas. Ab aliquam distinctio eaque error, facilis hic magni officiis perferendis quo quos ratione,
                recusandae sequi unde!</p>
        </div>
        <div class="payment">
            <p class="pay-title">Способы оплаты</p>
            <div class="payment-method">
                <div class="payment-brend">
                    <img class="payment-img" src="../images/payment.png"/>
                    <div class="payment-text">Наличные <br>или терминал</div>
                    <img class="payment-brend-img" src="../images/click.png"/>
                    <img class="payment-brend-img" src="../images/payme.png"/>
                    <img class="payment-brend-img" src="../images/visa.png"/>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>