.bread-cr{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.bread-cr li{
    position: relative;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}
.bread-cr li+li{
    margin-left: 20px;
    color: #852d84;
}
.bread-cr li+li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    background-image: url('../images/angle-right-icon.png');
}
.delivery{
    margin-top: 50px;
    font-size: 18px;
}
.delivery p+p{
    margin-top: 60px;
}
.payment{
    margin-top: 60px;
}
.payment-method{
    margin-top: 50px;
}
.payment-brend{
    display: flex;
}
.payment-brend-img{
    margin-left: 60px;
    width: 130px;
    height: 50px;
}
.payment-img{
    margin-right: 20px;
    width: 40px;
    height: 42px;
}
.payment-text{
    font-size: 18px;
    font-weight: 600;
}
.pay-title{
    font-size: 30px;

}



/******* media *******/
@media (max-width: 991px) {
    .pay-title{
        text-align: center;
    }
    .delivery{
        text-align: justify;
    }
    .delivery-title{
        text-align: center;
    }
    .bread-cr{
        text-align: center;
    }
    .payment-brend{
        justify-content: space-between;
    }
    .payment-brend-img{
        margin-left: 20px;
    }

}



@media (max-width: 767px) {
    .payment-text{
        text-align: center;
    }
    .payment-img{
        margin: 10px auto;
    }
    .payment-brend-img{
        margin: 10px auto;
    }
    .payment-brend{
        flex-direction: column;

    }
}