<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--meta name=viewport mobil uchun optimallashtiradi fonts larni google font yoki gethub dan olish kerak-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="card-main.css">
    <title>Card</title>
</head>
<body>
<main>
    <div class=" slider">
        <img
                style="width: 100%;    object-fit: cover; height: 392px;"
                src="../images/slider.png"/>
    </div>
    <div class="container">
        <div class="row buyurtma-top">
            <div class="col-lg-3 col-sm-6">
                <div class="buyurtma">
                    <img class="" src="../images/catalog.png"/>
                    <span>Выберите товар в каталоге</span>
                </div>
                <span class="order-step-num">1</span>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <div class="buyurtma">
                    <img class="" src="../images/catalog2.png"/>
                    <span>Выберите товар в каталоге</span>
                </div>
                <span class="order-step-num">2</span>

            </div>
            <div class="col-lg-3 col-sm-6 ">
                <div class="buyurtma">
                    <img class="" src="../images/catalog3.png"/>
                    <span>Выберите товар в каталоге</span>
                </div>
                <span class="order-step-num">3</span>

            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="buyurtma">
                    <img class="" src="../images/catalog4.png"/>
                    <span>Выберите товар в каталоге</span>
                </div>
                <span class="order-step-num">4</span>

            </div>
        </div>
        <div class="product">
            <div class="tovar-text">
                <h2 class="tovar-title">Популярные товары</h2>
                <p class="tovar-txt m-b-40"><span class="pos-r">больше</span></p>
            </div>
            <div class="tovar-card row equal-offsets">
                <div class="col-lg-3 col-md-6">
                    <div class="tovar-card-div pointer">
                        <div class="tovar-card-inner">
                            <div class="tovar-card-div-img">
                                <img src="../images/card1.png" alt="">
                            </div>
                            <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                            <div class="margin-buttom-p">
                                <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                            </div>
                        </div>
                        <div class="tovar-zakaz">
                            <div class="tovar-zakaz-inner">
                                <div class="tovar-zakaz-text">
                                    <span>Заказать</span>
                                    <img src="../images/zakaz.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="tovar-card-div pointer">
                        <div class="tovar-card-inner">
                            <div class="tovar-card-div-img">
                                <img src="../images/card1.png" alt="">
                            </div>
                            <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                            <div class="margin-buttom-p">
                                <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                            </div>
                        </div>
                        <div class="tovar-zakaz">
                            <div class="tovar-zakaz-inner">
                                <div class="tovar-zakaz-text">
                                    <span>Заказать</span>
                                    <img src="../images/zakaz.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="tovar-card-div pointer">
                        <div class="tovar-card-inner">
                            <div class="tovar-card-div-img">
                                <img src="../images/card1.png" alt="">
                            </div>
                            <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                            <div class="margin-buttom-p">
                                <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                            </div>
                        </div>
                        <div class="tovar-zakaz">
                            <div class="tovar-zakaz-inner">
                                <div class="tovar-zakaz-text">
                                    <span>Заказать</span>
                                    <img src="../images/zakaz.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="tovar-card-div pointer">
                        <div class="tovar-card-inner">
                            <div class="tovar-card-div-img">
                                <img src="../images/card1.png" alt="">
                            </div>
                            <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                            <div class="margin-buttom-p">
                                <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                            </div>
                        </div>
                        <div class="tovar-zakaz">
                            <div class="tovar-zakaz-inner">
                                <div class="tovar-zakaz-text">
                                    <span>Заказать</span>
                                    <img src="../images/zakaz.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-main">
            <div class="new">
                <div class="tovar-text">
                    <h2 class="product-title">Новинки</h2>
                    <ul class="tovar-categore">
                        <li class="tovar-categore-item">Бижутерия</li>
                        <li class="tovar-categore-item">Аксесуары</li>
                        <li class="tovar-categore-item">Очки</li>
                    </ul>
                </div>
                <div class="tovar-card row equal-offsets">
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <ul class="product-pnt">
                    <li>
                        <span>Показать больше</span>
                    </li>
                    <li>
                        <img src="../images/next-buttom.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="banner-img">
            <!--<img src="../images/reklama-banner.png" alt="">-->
        </div>
        <div class="new">
                <div class="tovar-text">
                    <h2 class="product-title">Товары со скидкой</h2>
                </div>
                <div class="tovar-card row equal-offsets">
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>


                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>


                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>


                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row slaider-style">
                    <div class="col-lg-6">
                        <div class="ochki">
                            <img src="../images/ochki.png"/>
                        </div>
                        <div>
                            <img src="../images/style-ochki.png"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="../images/ochki-right.png"/>
                    </div>
                </div>
            </div>
        <div class="">
            <div class="new">
                <div class="tovar-text">
                    <h2 class="product-title">Бренды</h2>
                </div>
                <div class="brend">
                    <img src="../images/p1.png" />
                    <img src="../images/p4.png" />
                    <img src="../images/p3.png" />
                    <img src="../images/p2.png" />
                    <img src="../images/p1.png" />
                </div>
            </div>
        </div>
        <div class="news">
            <h2 class="news-title">Новости</h2>
            <div class="news-main">
                <div class="news-main-item">
                    <div class="news-img news-images">
                        <img src="../images/newImg1.png" alt="">
                        <time class="news-date">10.04.2019</time>
                    </div>
                    <h3 class="news-title-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                    <p class="news-title-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque dolorum eveniet
                        fugit illo itaque laborum molestias nobis, obcaecati porro quasi, quo quod tempore. Accusamus
                        doloribus eius est ex ratione.
                    </p>
                    <div class="text-right">
                        <a class="news-icon" href="#">
                            <span>Читать далее</span>
                        </a>
                    </div>
                </div>
                <div class="news-main-item-left">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="news-img">
                                <img src="../images/newImg2.png" alt="">
                                <time class="news-date">10.04.2019</time>
                            </div>
                        </div>
                        <div class="col-lg-8 news-title-wrap">
                            <h3 class="news-title-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                            <p class="news-title-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque
                            </p>
                            <div class="text-right">
                                <a class="news-icon" href="#">
                                    <span>Читать далее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-4">
                            <div class="news-img">
                                <img src="../images/newImg2.png" alt="">
                                <time class="news-date">10.04.2019</time>
                            </div>
                        </div>
                        <div class="col-lg-8 news-title-wrap">
                            <h3 class="news-title-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                            <p class="news-title-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque dolorum eveniet
                                fugit illo itaque laborum
                            </p>
                            <div class="text-right">
                                <a class="news-icon" href="#">
                                    <span>Читать далее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="news-img">
                                <img src="../images/newImg2.png" alt="">
                                <time class="news-date">10.04.2019</time>
                            </div>
                        </div>
                        <div class="col-lg-8 news-title-wrap">
                            <h3 class="news-title-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                            <p class="news-title-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloremque dolorum eveniet
                                fugit illo itaque laborum
                            </p>
                            <div class="text-right">
                                <a class="news-icon" href="#">
                                    <span>Читать далее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="row footer-menu">
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
                <ul class="about-title">
                    <li class="about-title-item text-up">O нас</li>
                    <li class="about-title-item"><a href="#">О компании</a></li>
                    <li class="about-title-item"><a href="#">Новости компании</a></li>
                    <li class="about-title-item"><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
                <ul class="about-title">
                    <li class="about-title-item text-up">Доставка</li>
                    <li class="about-title-item"><a href="#">Правила</a></li>
                    <li class="about-title-item"><a href="#">Адрес доставки</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12">
                <ul class="about-title">
                    <li class="about-title-item text-up">Помощь</li>
                    <li class="about-title-item"><a href="#">Оформление заказа</a></li>
                    <li class="about-title-item"><a href="#">Политика и правила</a></li>
                    <li class="about-title-item"><a href="#">Оплата и доставка</a></li>
                </ul>
            </div>
            <div class="col-xl-6 col-lg-3 col-md-3 col-sm-12">
                <p class="phone-text">Служба поддержки:</p>
                <p class="phone">+998935054505</p>
                <ul class="footer-img">
                    <li><a href="#"><img src="../images/telegram.png" alt=""></a></li>
                    <li><a href="#"><img src="../images/fasebook.png" alt=""></a></li>
                    <li><a href="#"><img src="../images/vatsap.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-but">
        <div class="container">
            <div class="row footer-izumrud">
                <div class="col-lg-4 col-md-4 col-sm-12 footer-right">
                    <p>Izumrud Все права защищены</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 footer-left">
                    <p>© Copyright 2019 - Web developed by SOS Group</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>