<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regstration</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h2 class="regs">Вход</h2>
    <form class="regs-group" action="#">
            <input class="regs-input" type="text" placeholder="Телефон">
            <input class="regs-input-item" type="text" placeholder="Пароль"><br>
            <input type="submit" value="Зарегестрироваться">
    </form>
</div>
</body>
</html>