.regs{
    text-align: center;
}
.regs-input-item,.regs-input{
    width: 59%;
    padding: 16px 31px;
}
.regs-group{
    margin-top: 42px;
    text-align: center;
}
.regs{
    text-transform: uppercase;
}
input[type=submit]{
    background-color:#d85ed7;
    padding: 21px 40px;
    margin-top: 44px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
.regs-input-item{
    margin-top: 26px;
}


/******** media *******/
@media (max-width: 991px) {
    .regs-input{
        width: 70%;
    }
    .regs-input-item{
        width: 70%;
    }
}
@media (max-width: 767px) {
    .regs-input{
        width: 100%;
    }
    .regs-input-item{
        width: 100%;
    }
}
