.regs{
    text-align: center;
}
.regs-input-item,.regs-input{
    width: 53%;
    padding: 15px 30px;
}
.regs-group{
    margin-top: 50px;
    text-align: center;
}
input[type=submit]{
    background-color:#d85ed7;
    padding: 18px 27px;
    margin-top: 40px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}
.regs-input-item{
    margin-top: 20px;
}


/******** media *******/
@media (max-width: 991px) {
    .regs-input{
        width: 70%;
    }
    .regs-input-item{
        width: 70%;
    }
}
@media (max-width: 767px) {
    .regs-input{
        width: 100%;
    }
    .regs-input-item{
        width: 100%;
    }
}
