<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>catalog</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../card/card-main.css">
    <link rel="stylesheet" href="faq.css">

</head>
<body>
<main>
    <div class="container">
        <h2 class="delivery-title">Помощь</h2>
        <div>
            <ul class="bread-cr">
                <li>Главная</li>
                <li>О нас</li>
                <li>О нас</li>
                <li>О нас</li>
            </ul>
        </div>
        <div class="faq">
            <p class="faq-title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quaerat!
            </p>
            <div class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi beatae cum explicabo natus
                repudiandae soluta tempora velit. Enim eum impedit laboriosam, libero numquam provident sunt voluptas
                voluptatum. Exercitationem, soluta.
            </div>
            <p class="faq-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quaerat!</p>
            <div class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi beatae cum explicabo natus
                repudiandae soluta tempora velit. Enim eum impedit laboriosam, libero numquam provident sunt voluptas
                voluptatum. Exercitationem, soluta.
            </div>
            <p class="faq-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quaerat!</p>
            <div class="faq-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi beatae cum explicabo natus
                repudiandae soluta tempora velit. Enim eum impedit laboriosam, libero numquam provident sunt voluptas
                voluptatum. Exercitationem, soluta.
            </div>
        </div>
    </div>
</main>
</body>
</html>