<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="cart.css">
    <title>About</title>
</head>
<body>
<main class="">
    <div class="container">
        <div class="">
            <h2 class="">Бижутерия</h2>
            <ul class="bread-cr">
                <li>Каталог товаров</li>
                <li>Бижутерия</li>
                <li>Бижутерия</li>
            </ul>
        </div>
        <div class="row cart">
            <div class="col-lg-5">
                <img class="cart-img1" src="../images/card1.png" alt="">
            </div>
            <div class="col-lg-2">
                <img class="cart-img2" src="../images/card1.png" alt="">
                <img class="cart-img2" src="../images/card1.png" alt="">
                <img class="cart-img2" src="../images/card1.png" alt="">
            </div>
            <div class="col-lg-3">
                <p class="cart-id">#1234</p>
                <h2 class="cart-pres">300 000 сум</h2>
                <p class="cart-number">
                    <a class="cart-menus" href=""><img src="../images/menus.png" alt="">

                    </a>
                    <span class="number">1</span>
                    <a class="cart-add" href=""><img src="../images/add.png" alt=""></a>
                </p>
                <a class="cart-but" href="#">
                    <span class="cart-but-img">Заказать</span>
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>