<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/bootstrap.css">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="cart.css">
  <title>About</title>
</head>
<body>
<main class="">
  <div class="container">
    <div class="main-cart">
      <h2 class="">Бижутерия</h2>
      <ul class="bread-cr">
        <li>Каталог товаров</li>
        <li>Бижутерия</li>
        <li>Бижутерия</li>
      </ul>
    </div>
    <div class="row cart">
      <div class="col-lg-5">
        <img class="cart-img1" src="../images/card1.png" alt="">
      </div>
      <div class="col-lg-2 cart-imgs">
        <img class="cart-img2" src="../images/card1.png" alt="">
        <img class="cart-img2" src="../images/card1.png" alt="">
        <img class="cart-img2" src="../images/card1.png" alt="">
      </div>
      <div class="col-lg-3 cart-imgs">
        <p class="cart-id">#1234</p>
        <h2 class="cart-pres">300 000 сум</h2>
        <p class="cart-number">
          <a class="cart-menus" href="">
            <img src="../images/menus.png" alt="">
          </a>
          <span class="number">1</span>
          <a class="cart-add" href=""><img src="../images/add.png" alt=""></a>
        </p>
        <a class="cart-but" href="#">
          <span class="cart-but-img">Заказать</span>
        </a>
      </div>
    </div>
    <div class="row footer-options">

      <div class="col-lg-3">
        <p class="options">Параметры</p>
        <ul class="clear-list title-option">
          <li>Цвет:</li>
          <li>Вес(гр):</li>
          <li>Материал стельки:</li>
          <li>Назначение:</li>
        </ul>
      </div>

      <div class="col-lg-4">
          <ul class="clear-list title-option-txt">
            <li>Золотой</li>
            <li>120</li>
            <li>Натуральная кожа</li>
            <li>Вечерняя мода</li>
          </ul>
      </div>

      <div class="col-lg-5">
        <p class="options">Описание</p>
        <p class="option-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
      </div>

    </div>
  </div>
</main>
</body>
</html>