<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>catalog</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../card/card-main.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<main>
    <div class="container">
        <h2 class="catalog-title">Каталог товаров</h2>
        <div>
            <ul class="bread-cr">
                <li>Главная</li>
                <li>О нас</li>
                <li>О нас</li>
                <li>О нас</li>
            </ul>
        </div>
        <div class="row catalog-place">
            <div class="col-lg-3">
                <ul class="clear-list main-nav-submenu">
                    <li>lorem1</li>
                    <li>lorem2</li>
                    <li>lorem3</li>
                    <li>lorem4</li>
                    <li>lorem5</li>
                    <li>lorem6</li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="catalog-order">
                    <ul>
                        <li class="catalog-icon-next"><span class="catalog-icon">Магазин</span></li>
                        <li>
                            <label for="#">Цена: от</label>
                            <input type="text">
                        </li>
                        <li>
                            <label for="#">до</label>
                            <input class="input-last" type="text">
                        </li>
                    </ul>
                </div>
                <div class="row equal-offsets">
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row equal-offsets">
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row equal-offsets">
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row equal-offsets">
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tovar-card-div pointer">
                            <div class="tovar-card-inner">
                                <div class="tovar-card-div-img">
                                    <img src="../images/card1.png" alt="">
                                </div>
                                <h5 class="tovar-card-title"><a href="#">Бижутерия</a></h5>
                                <div class="margin-buttom-p">
                                    <p class="tovar-card-price"><span class="pres">300 000</span> сум</p>
                                </div>
                            </div>
                            <div class="tovar-zakaz">
                                <div class="tovar-zakaz-inner">
                                    <div class="tovar-zakaz-text">
                                        <span>Заказать</span>
                                        <img src="../images/zakaz.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-footer">
                    <div class="pag">
                        <a href="#">&laquo;</a>
                        <a href="#">&#8249;</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a class="active" href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&#8250;</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>