.bread-cr{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}
.about-main{
    margin-top: 41px;
}
.bread-cr li{
    text-transform: uppercase;
    position: relative;
    list-style: none;
    display: inline-block;
}
.bread-cr li+li{
    margin-left: 20px;
    color: #d85ed7;
}
.bread-cr li+li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    background-image: url('../images/angle-right-icon.png');
}
.about{
    object-fit: cover;
    width: 100%;
    height: 367px;
}
.about-text-box{
    overflow: hidden;
    height: auto;
    width: 100%;
}
.about-title-txt{
    margin-top: 54px;
    text-transform: uppercase;
}
.about-text{
    margin-top: 60px;
    margin-left: 30px;
    line-height: 33px;
    text-align: justify;
}
.about-txt p{
    line-height: 33px;
}
.about-txt-first{
    margin-top: 30px;
}
.about-txt-second{
    margin-top: 45px;
}
.about-main-item{
    margin-bottom: 120px;
}
.about-box{
    margin-top: 80px;
}
.we{
    text-transform: uppercase;
}
/*********** media *************/
@media screen  and (max-width: 576px){
    .bread-cr{
        text-align: center;
    }
    .about-txt h2{
        text-align: center;
    }
    .we{
        text-align: center;
    }
}
/*********** media *************/