<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../card/card-main.css">
    <link rel="stylesheet" href="style.css">
    <title>Cabinet</title>
</head>
<body>
<main>
    <div class="container">
        <div class="test"></div>
        <div class="cabinet-banner">
            <ul class="cabinet-banner-list">
                <li>Редактирование данных</li>
                <li>Смена пароля</li>
                <li>История заказов</li>
            </ul>
        </div>
        <h2 class="history">История заказов</h2>
        <div class="cabinet">
            <table class="cabinet-table">
                <tr>
                    <th>Номер заказа</th>
                    <th>Кол-во товаров</th>
                    <th>Сумма</th>
                    <th>Дата</th>
                </tr>
                <tr>
                    <td>#1234</td>
                    <td>2</td>
                    <td>700 000 сум</td>
                    <td>03.04.2019</td>
                </tr>
                <tr>
                    <td>#1234</td>
                    <td>2</td>
                    <td>700 000 сум</td>
                    <td>03.04.2019</td>
                </tr>
                <tr>
                    <td>#1234</td>
                    <td>2</td>
                    <td>700 000 сум</td>
                    <td>03.04.2019</td>
                </tr>
            </table>
        </div>
    </div>
</main>
</div>
</body>
</html>